*{
    box-sizing: border-box;
}
html{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 60px;
}
body{
    text-align: center;
    background-color: rgb(140, 175, 240);
    margin: 0%;
    padding: 0%;
}
h1{
    font-size: 0.8rem;
}
h2{
    font-size: 0.6rem;
}
h3{
    font-size: 0.4rem;
}
p{
    font-size: 0.3rem;
}
header{
    text-align: center;
}
.row{
    display: flex;
    object-fit: cover;
    width: 25%;
    margin-left: 5%;
    margin-right: 5%;
}
.column-4{
    display: flex;
    object-fit: cover;
    float: left;
    padding: 5%;
}
img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
	border: 3px solid #000000;
}
button{
    margin: auto;
    display: flex;
    background-color: black;
    border-radius: 6px;
    padding: 0.1px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    border-color: red;
    color: white;
}
@media screen and (max-width:768px){
    html{
        font-size: 45px;
    }
    body{
        text-align: center;
        background-color: rgb(140, 175, 240);
        margin: 0%;
        padding: 0%;
    }
    .row{
        display: flex;
        object-fit: cover;
        flex: 50%;
    }
    .column-4{
        display: block;
        object-fit: cover;
        float: left;
        flex-wrap: wrap;
    }
    img{
        width: 200px;
        height: 200px;
    }
}
@media screen and (max-width:600px){
    html{
        font-size: 30px;
    }
    body{
        text-align: center;
        background-color: rgb(140, 175, 240);
    }
    .row{
        display: flex;
        object-fit: cover;
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .column-4{
        display: flex;
        flex-direction: row;
        object-fit: cover;
        float: left;
        flex-wrap: wrap;
        padding: 2%;

    }
    img{
        width: 150px;
        height: 150px;
    }
}